<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Epi_Product::product_api" title="EPI Product API"
                        translate="title" sortOrder="120">
                    <resource id="Epi_Product::update_product" title="Update Product"
                        translate="title" sortOrder="10" />
                        <resource id="Epi_Product::update_product_prices" title="Update Product Prices"
                        translate="title" sortOrder="20" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
