<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="GuzzleHttp\Client">
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="headers" xsi:type="array">
                    <item name="User-Agent" xsi:type="string">Magento</item>
                </item>
            </argument>
        </arguments>
    </type>

     <type name="Epi\ExternalPrint\Observer\OrderPlaced">
        <arguments>
            <argument name="httpClient" xsi:type="object">GuzzleHttp\Client</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>           
        </arguments>
    </type>
</config>