<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_authorize">
        <observer name="epipayment_capture_payment" instance="Burstonline\Epipayment\Observer\CapturePayment" />
        <observer name="global_test_observer" instance="Burstonline\Epipayment\Observer\GlobalTestObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="burstonline_epipayment_generate_invoice" instance="Burstonline\Epipayment\Observer\GenerateInvoiceAfterOrderPlaced" />
    </event>
</config>
