<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Payment:etc/config.xsd">
    <default>
        <payment>
            <epipayment>
                <active>1</active>
                <model>Burstonline\Epipayment\Model\PaymentMethod</model>
                <title>Epi Payment</title>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <group>offline</group>
                <debug>0</debug>
            </epipayment>
        </payment>
    </default>
</config>